@model IEnumerable<VideojuegosCRUD.Models.Tienda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreTienda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVentaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVideojuegoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTienda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVentaNavigation.IdVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVideojuegoNavigation.IdVideojuego)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdTienda">Edit</a> |
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdTienda">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdTienda">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
