@model IEnumerable<VideojuegosCRUD.Models.Clasificacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clasificacion1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoClasificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clasificacion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoClasificacion)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdClasificacion">Edit</a> |
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdClasificacion">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdClasificacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
